@media all and (max-width: 600px),
all and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    nav {
        position: absolute;
    }

    nav .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav .container .navs ul {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    nav .container .logo {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /***********************************************************/
    .Home {
        position: relative;
    }


    /********************************************************/
    .about .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .about .container .about-img {
        width: 100%;


    }

    .about .container .about-content {
        width: 100%;

    }

    /*****************************************/
    .services .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .services .container .service-content {
        width: 90%;
        display: flex;
        flex-direction: column;


    }

    .services .container .service-content .ui,
    .ux,
    .product,
    .web {
        width: 100%;

    }

    /**********************************************/
    .portfolio .container {
        display: flex;
        flex-direction: column;
        width: 90%;

    }

    .portfolio .container .portfolio-heading {

        width: 100%;

    }

    .portfolio .container .pictures {

        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .portfolio .container .pictures .picture {

        width: 100%;

    }

    /**********************************************/
    .testimonial .container {
        display: flex;
        flex-direction: column;
    }

    .testimonial .container .item {
        width: 100%;
        margin-bottom: 10px;
    }

    /*******************************************************/
    @media only screen and (max-width: 992px){
     
        .client .client-item .item-content  , .client .client-item .item-photo  {
            /* width: 100%; */
        }
    }
    
    @media only screen and (max-width: 768px) {
        .client .container{
            width:100%;
            margin: auto;
        }
        .client .client-item {
            width: 80%;
            
        }
        .client .client-item .item-content  , .client .client-item .item-photo  {
            width: 100%;
        }
        .client .container .item-photo{
            width: 25%;
        }
    }
    /*******************************************************/
    .blog .container{
        width: 90%;
    }
    .blog .container .blog-title {
        width: 100%;
    }

    .blog .container .blog-body {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;


    }

    .blog .container .blog-body .webDesign-blog,.development-blog,.full-blog{
        width: 100%;
    }

/**********************************/
.contact .container{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.contact .container .contact-heading{
    width: 100%;
}
.contact .container form input{
    width: 100%;
}
/*************************/
.footer .container .social-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .container{
    display: flex;
    flex-direction: column;
    padding-bottom:51px ;
    width: 80%;
}






}