@media all and (max-width: 600px),
all and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    /*--------------> NavBar*/
    nav .navs .toggle-menu {
        display: flex !important;
        transition-duration: 0.5s;
       
    }

    nav {
        position: absolute;
        /* background-color: azure; */
    }

    nav .navs {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 20% !important;

    }

    nav .navs ul {
        display: none !important;

      
    }

    nav .container .toggle-menu:hover+ul {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 95%;
        background-color: #333333;
    }

    /*--------------> Home*/
    .Home {
        position: relative;
    }
    .Home .overlay .caption{
        padding-top: 400px;
    }


    /*--------------> About*/
    .about .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .about .container .about-img {
        width: 100%;


    }

    .about .container .about-content {
        width: 100%;

    }

    /*--------------> services*/
    .services .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .services .container .service-content {
        width: 90%;
        display: flex;
        flex-direction: column;


    }

    .services .container .service-content .ui,
    .ux,
    .product,
    .web {
        width: 100%;

    }

    /*--------------> portfolio*/
    .portfolio .container {
        display: flex;
        flex-direction: column;
        width: 90%;

    }

    .portfolio .container .portfolio-heading {

        width: 100%;

    }

    .portfolio .container .pictures {

        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .portfolio .container .pictures .picture {

        width: 100%;

    }

    /*--------------> testimonial*/
    .testimonial .container {
        display: flex;
        flex-direction: column;
    }

    .testimonial .container .item {
        width: 100%;
        margin-bottom: 10px;
    }



    @media only screen and (max-width: 768px) {
        .client .container {
            width: 100%;
            margin: auto;
        }

        .client .client-item {
            width: 80%;

        }

        .client .client-item .item-content,
        .client .client-item .item-photo {
            width: 100%;
        }

        .client .container .item-photo {
            width: 25%;
        }
    }

    /*--------------> Blog*/
    .blog .container {
        width: 90%;
    }

    .blog .container .blog-title {
        width: 100%;
    }

    .blog .container .blog-body {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;


    }

    .blog .container .blog-body .webDesign-blog,
    .development-blog,
    .full-blog {
        width: 100%;
    }

    /*--------------> contact*/
    .contact .container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .contact .container .contact-heading {
        width: 100%;
    }

    .contact .container form input {
        width: 100%;
    }

    /*--------------> footer*/
    .footer .container .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        padding-bottom: 51px;
        width: 80%;
    }






}